<body  style="margin-top: 20px;" style=" background:url('assets/images/head2.png') center center;
background-size: cover ;background-attachment: fixed ;margin-bottom: 20px;">
  <div class="container" style=" place-items: center;" >
    <h2 class="section-heading" style="text-align: center;color:#C9A770; margin-bottom: 10px;"> Detail Off-Plan

    </h2>
      <div class="row" style="margin-bottom: 10px;margin-top: 30px;">
        <div class="column" *ngFor="let item of crud.tabCarc">
          <div class="card">
            <div class="icon-wrapper">
              <img src="assets/images/logo1.png" style="height:auto;width:auto;max-width: 60px;max-height: 60px;" alt="heart-of-carthage-dubai">
            </div>
            <a>{{item}} </a>
            
          </div>
        </div>
       
       
      </div>
     
  </div>
  </body>