<div class="container"  style="z-index:100;margin-bottom: 50px !important ;padding-top: 20px !important ;opacity: 0.7; padding-bottom: 20px;">
    <div class="row mt-5 justify-content-center" data-aos="fade-up">
      <div class="col-lg-12">
       
            
             <div class="container h-100" #form >

            <div class="row d-flex justify-content-center align-items-center h-100" >
              <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                  <div class="card-body p-md-5">
                    <div class="row justify-content-center">
                      <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
        
                        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4" style="font-size: 20px;font-family: font-italic;color: #C9A770;"  *ngIf="!affQr"> complete the form to proceed to consultation </p>
        
                        <form class="mx-1 mx-md-4" [formGroup]="user">
                          <section *ngIf="affCodeEmail">
                            <div class="d-flex flex-row align-items-center mb-4" >
                              <i class="fas fa-user fa-lg me-3 fa-fw" style="color:  #C9A770;"></i>
                              <div class="form-outline flex-fill mb-0">
                                <input type="text" id="form3Example1c" class="form-control" placeholder="name  "  formControlName='name' />
                                <label class="form-label" *ngIf="user.controls.name.hasError('required') && this.user.controls.name.touched" style="color: red;" for="form3Example1c"> name is  require</label>
                              </div>
                            </div>
          
                          
          
                            <div class="d-flex flex-row align-items-center mb-4">
                              <i class="fas fa-envelope fa-lg me-3 fa-fw" style="color:  #C9A770;"></i>
                              <div class="form-outline flex-fill mb-0">
                                <input type="email" id="form3Example4c" class="form-control" placeholder="Email"  formControlName='email'/>
                                <label class="form-label" *ngIf="user.controls.email.hasError('required') && this.user.controls.email.touched" style="color: red" for="form3Example1c">email is require </label>
                                <label class="form-label" *ngIf="user.controls.email.hasError('email') && this.user.controls.email.touched" style="color: red" for="form3Example1c">email not exactly</label>
                                </div>
                                </div>
                               
                               
                                <div class="d-flex flex-row align-items-center mb-4">
                                   <i class="fas fa-phone fa-lg me-3 fa-fw" style="color:  #C9A770;"></i>
                                  <div class="form-outline flex-fill mb-0">
                                    <input type="text" ng2TelInput [ng2TelInputOptions]="{initialCountry: 'AE'}" style="width:100% !important" id="form3Example4c" class="form-control" placeholder="example:+971"  formControlName='phone'/>
                                    <label class="form-label"  *ngIf="user.controls.phone.hasError('required') && this.user.controls.phone.touched" style="color: red;" for="form3Example1c">phone is require</label>
                                  </div>
                                </div>
                          </section>

                           
                          
                        
                       
                              <!---form2-->
                            
                                
                              <section *ngIf="!affCodeEmail">
                                <div class="d-flex flex-row align-items-center mb-4" *ngIf="!affDateRendevous">
                                  <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                  <div class="form-outline flex-fill mb-0">
                                    <input type="text" id="form3Example4cd" class="form-control" (input)="validCode($event)" />
                                    <label class="form-label" for="form3Example4cd">code send by  Email</label>
                                  </div>
                                </div>
                                <div class="d-flex flex-row align-items-center mb-4" *ngIf="affDateRendevous">
                                 
                                  <div class="form-outline flex-fill mb-0">
                                    <input type="date" id="Date" class="form-control"  name="birthday"  (change)="funDate($event)"  >
                                   
                                    <label class="form-label" for="form3Example4cd"><small>choose date consultation</small> </label>
                                  </div>
                                </div>
                                <div class="d-flex flex-row align-items-center mb-4" *ngIf="affDateRendevous">
                                  
                                  <div class="form-outline flex-fill mb-0">
                                    <input type="time" class="form-control"  id="Time" name="birthday" (change)="funTime($event)"  >
                                   
                                    <label class="form-label" for="form3Example4cd"><small> time consultation </small> </label>
                                  </div>
                                </div>
                              </section>
                              
                                 
                                
                              
                            
                          
                              <!--fin form 2-->
        
                          <div class="alert alert-success" role="alert" *ngIf="al">
                       <h4 style="font-weight: bold; ">  Successfully registered</h4>
                          </div>
        
                          <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
              
                            <button type="button" class="btn btn-primary btn-lg"   [disabled]="!user.valid" (click)="funStep1()" style="background-color: #C9A770;" *ngIf="affCodeEmail" > Setp1</button>
                            <button type="button" class="btn btn-primary btn-lg"   [disabled]="!user.valid" (click)="enregisterClient()" style="background-color: #C9A770;" *ngIf="!affCodeEmail && affDateRendevous && !affQr">send Now</button>
                            <a type="button" *ngIf="affQr" class="btn btn-primary btn-lg" style="background-color:orange ;" [href]="qrCodeDownloadLink" download="qrcode">Download information consultation</a>
                          </div>
        
                        </form>
        
                      </div>
                      <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2" >
        
                        <img *ngIf="!affQr" src="assets/images/logo1.png"
                          class="img-fluid" alt="Sample image" style=" display: block;
                          margin-left: auto;
                          margin-right: auto;
                          width: 20%;">
                            <qrcode *ngIf="affQr" (qrCodeURL)="onChangeURL($event)" [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
                              
        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
      </div>

    </div>

  


    

  </div>