<div class="survey-container" id="surveyContainer">
		<div class="thank-text" id="thankText">Thank you<br>your answers has been <br> submited successfully</div>
		<button class="return-btn" (click)="backFromSurvey()"  id="backBtn">Back</button>
		<div class="header">
			<img id="logoSurvey" src="../assets/images/logoHOCD.png" alt="logo"/>
			<div id="nameLogo" class="name">Heart of chartage Dubai</div>
		</div>
		<div class="content">

			<div class="ctn" *ngIf="choices === 'default'">
				<div class="content-ctn" *ngFor="let item of currentQuestion" >
					<div id="questionSurvey" class="question">{{item.question}}
						
					</div>
				
					
					 <div class="container">
						<div class="row">
							<div class="col-lg-12 video-responsive" style="margin-bottom:3% ;">
								<iframe width="400" height="auto" src="https://www.youtube.com/embed/pxEWiz40xBo"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
							</div>
						</div>
					</div> 
					<div class="action-buttons">
						<button id="btnYes" (click)="nextQuestion('yes',true)">Yes</button>
						<button id="btnNo" (click)="nextQuestion('no',true)">No</button>
					</div>
				</div>
			</div>

			<div class="ctn" *ngIf="choices === 'estimate'">
				<div class="content-ctn" *ngFor="let item of estimate" >
					<div id="questionSurvey" class="question">{{item.question}}</div>
					<div class="action-buttons">
						<button id="btnYes" (click)="nextQuestion('yes-form',false)">Yes</button>
						<button id="btnNo" (click)="nextQuestion('no',false)">No</button>
					</div>
				</div>
			</div>

			<div class="ctn" *ngIf="choices === 'plans'">
				<div class="content-ctn" *ngFor="let item of plans" >
					<div id="questionSurvey" class="question">{{item.question}}</div>

					<div class="choices" *ngFor="let ch of item.choices" >
						<div class="choice-item" (click)="selectChoice(ch.title)">
							<div class="check-btn-item" [ngStyle]="{'background-color':getBgItemChoices(ch.title)}"></div>
							<img [src]="ch.image">
							<div class="title"> {{ch.title}} </div>
						</div>
					</div>

					<div class="action-buttons">
						<button id="btnYes" (click)="nextQuestion('next',true)">next</button>
						<button id="btnNo" (click)="nextQuestion('no',true)">No</button>
					</div>
				</div>
			</div>

			<div class="ctn" *ngIf="choices === 'budget'">
				<div class="content-ctn" *ngFor="let item of budget" >
					<div id="questionSurvey" class="question">{{item.question}}</div>

					<div class="choices" *ngFor="let ch of item.choices" >
						<div class="choice-item" (click)="selectChoice(ch.title)">
							<div class="check-btn-item" [ngStyle]="{'background-color':getBgItemChoices(ch.title)}"></div>
							<img [src]="ch.image">
							<div class="title"> {{ch.title}} </div>
						</div>
					</div>
					<div class="action-buttons">
						<button id="btnYes" (click)="nextQuestion('next',true)">next</button>
						<button id="btnNo"  (click)="nextQuestion('no',true)">No</button>
					</div>
				</div>
			</div>

			<div class="ctn" *ngIf="choices === 'payment'">
				<div class="content-ctn" *ngFor="let item of payment" >
					<div id="questionSurvey" class="question">{{item.question}}</div>

					<div class="choices" *ngFor="let ch of item.choices" >
						<div class="choice-item" (click)="selectChoice(ch.title)">
							<div class="check-btn-item" [ngStyle]="{'background-color':getBgItemChoices(ch.title)}"></div>
							<img [src]="ch.image">
							<div class="title"> {{ch.title}} </div>
						</div>
					</div>
					<div class="action-buttons">
						<button id="btnYes" (click)="nextQuestion('next',false)">next</button>
						<button id="btnNo"  (click)="nextQuestion('no',true)">No</button>
					</div>
				</div>
			</div>

			<div class="survey-form-client" id="formClientMobile">
				<div class="form-content">
					<div class="input">
						<input type="text" placeholder="Full name"/>
						<br>
						<label>First name</label>
					</div>
					<div class="input">
						<input type="text" placeholder="Email"/>
						<br>
						<label>Email</label>
					</div>
					<div class="input">
						<input ng2TelInput  id="form3Example4c"  type="text" placeholder="Phone"/>
						<br>
						<label>Mobile</label>
					</div>
					<button (click)="finishFormClientMobile()" >send</button>
				</div>
			</div>

		</div>

		<button class="skip-btn" id="skipBtn" (click)="backFromSurvey()">Skip</button>
</div>
<div class="survey-container-CL" id="surveyCtnCL">

	<div class="content-survey-container">
		<div class="progress-bar-steps" id="progressBarSteps"></div>
		<div class="header-survey">
			<img src="../assets/images/logoHOCD.png">
			<div class="name">Heart Of Carthage Dubai</div>
		</div>
		<div class="content-questions" id="contentQuestions">


			<div class="qst-ctn" *ngIf="choices === 'default'">
				<div class="question" *ngFor="let item of currentQuestion">
					
					<span> {{item.question}} </span>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-12 video-responsive " style="margin-bottom: 3%;">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/pxEWiz40xBo"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
						</div>
					</div>
				</div> 
				<div class="buttons" >
					<button (click)="nextQuestionCL('yes')" >yes</button>
					<button (click)="nextQuestionCL('no')" >no</button>
				</div>
				<div class="skip-btn" (click)="surveyCLClose()">skip</div>
			</div>

			<div class="qst-ctn" *ngIf="choices === 'estimate'">
				<div class="question" *ngFor="let item of estimate">
					
					<span> {{item.question}} </span>
				</div>
				<div class="buttons" >
					<button (click)="nextQuestionCL('yes-form')" >yes</button>
					<button (click)="nextQuestionCL('no')" >no</button>
				</div>
				<div class="skip-btn" (click)="surveyCLClose()">skip</div>
			</div>


			<div class="qst-ctn" *ngIf="choices === 'payment'">
				<div class="question" *ngFor="let item of payment">
					
					<span> {{item.question}} </span>

					<div class="choices-container">
						<div class="choices-content" *ngFor="let ch of item.choices">
							<img [src]="ch.image" [alt]="ch.title"/>
							<p>{{ch.title}}</p>
							<div class="check-button" >
								<div (click)="selectChoice(ch.title)" [ngStyle]="{'background-color':getBgItemChoices(ch.title)}"></div>
							</div>
						</div>
					</div>

				</div>
				<div class="buttons" >
					<button (click)="nextQuestionCL('next')">next</button>
				</div>
				<div class="skip-btn" (click)="surveyCLClose()">skip</div>
			</div>


			<div class="qst-ctn" *ngIf="choices === 'budget'">
				<div class="question" *ngFor="let item of budget">
					
					<span> {{item.question}} </span>

					<div class="choices-container">
						<div class="choices-content" *ngFor="let ch of item.choices">
							<img [src]="ch.image" [alt]="ch.title"/>
							<p>${{ch.title}}</p>
							<div class="check-button" >
								<div (click)="selectChoice(ch.title)" [ngStyle]="{'background-color':getBgItemChoices(ch.title)}"></div>
							</div>
						</div>
					</div>

				</div>
				<div class="buttons" >
					<button (click)="nextQuestionCL('next')">next</button>
				</div>
				<div class="skip-btn" (click)="surveyCLClose()">skip</div>
			</div>


			<div class="qst-ctn" *ngIf="choices === 'plans'">
				<div class="question" *ngFor="let item of plans">
					
					<span> {{item.question}} </span>

					<div class="choices-container">
						<div class="choices-content" *ngFor="let ch of item.choices">
							<img [src]="ch.image" [alt]="ch.title"/>
							<p>{{ch.title}}</p>
							<div class="check-button" >
								<div (click)="selectChoice(ch.title)" [ngStyle]="{'background-color':getBgItemChoices(ch.title)}"></div>
							</div>
						</div>
					</div>

				</div>
				<div class="buttons" >
					<button (click)="nextQuestionCL('next')">next</button>
				</div>
				<div class="skip-btn" (click)="surveyCLClose()">skip</div>
			</div>


		</div>
		<div class="finished-survey" id="finishedSurvey">
			<div class="text">Thank you!<br><br>your answers has been submited successfully</div>
			<button (click)="surveyCLClose()" >Back</button>
		</div>
		<div class="survey-form-client" id="formClient">
			<div class="form-content">
				<div class="input">
					<input type="text" placeholder="Full name"/>
					<br>
					<label>First name</label>
				</div>
				<div class="input">
					<input type="text" placeholder="Email"/>
					<br>
					<label>Email</label>
				</div>
				<div class="input">
					<input type="text" placeholder="Phone"/>
					<br>
					<label>Mobile</label>
				</div>
				<button (click)="finishFormClient()" >send</button>
			</div>
		</div>

	</div>

</div>