<div class="aa-title">
  <h2>villas </h2>
  <span></span>   
</div>
<div class="container" >
  <div class="row">
    <div class="box col-md-4  col-sm-12 " style="margin-top: 30px;"  *ngFor="let vila of this.crud.tabVilaProd; index as i">
      <div class="top" (click)="nav2(i)">
        <img [src]="vila.imgs[0]" (click)="nav2(i)" alt="villa heart of carthage" />
        <span (click)="nav2(i)"
          ><i class="fas fa-heart"></i><i class="fas fa-exchange-alt"></i
        ></span>
      </div>
      <div class="bottom" (click)="nav2(i)">
        <h3 >{{vila.title}}</h3>
        <p>
          {{vila. stitle}} 
        </p>
        <div class="advants">
          <div>
            <span>Bedrooms</span>
            <div><i class="fas fa-th-large"></i><span>{{vila.bed}}</span></div>
          </div>
          <div>
            <span>Bathrooms</span>
            <div><i class="fas fa-shower"></i><span>{{vila.bath}} </span></div>
          </div>
          <div>
            <span>Area</span>
            <div>
              <i class="fas fa-vector-square"></i
              ><span>{{vila.surface}}<span>Sq Ft</span></span>
            </div>
          </div>
        </div>
        <div class="price">
          <span>For Sale</span>
          <span>{{vila.prixFinal}} USD</span>
        </div>
      </div>
    </div>
  </div>


</div>
<div class="aa-title">
  <h2>Appartements </h2>
  <span></span>   
</div>
<div class="container" >
  <div class="row">
    <div class="box col-md-4  col-sm-12 " style="margin-top: 30px;"  *ngFor="let vila of this.crud.tabApprProd; index as i">
      <div class="top" (click)="nav3(i)">
        <img [src]="vila.imgs[0]" (click)="nav3(i)"  alt="villa heart of carthage" />
        <span (click)="nav3(i)"
          ><i class="fas fa-heart" ></i><i class="fas fa-exchange-alt"></i
        ></span>
      </div>
      <div class="bottom" (click)="nav3(i)">
        <h3  >{{vila.title}}</h3>
        <p>
          {{vila. stitle}} 
        </p>
        <div class="advants">
          <div>
            <span>Bedrooms</span>
            <div><i class="fas fa-th-large"></i><span>{{vila.bed}}</span></div>
          </div>
          <div>
            <span>Bathrooms</span>
            <div><i class="fas fa-shower"></i><span>{{vila.bath}} </span></div>
          </div>
          <div>
            <span>Area</span>
            <div>
              <i class="fas fa-vector-square"></i
              ><span>{{vila.surface}}<span>Sq Ft</span></span>
            </div>
          </div>
        </div>
        <div class="price">
          <span>For Sale</span>
          <span>{{vila.prixFinal}} USD</span>
        </div>
      </div>
    </div>
  </div>


</div>
  <div class="aa-title">
    <h2>Rent</h2>
    <span></span>   
  </div>
  <div class="container" >
    <div class="row">
      <div class="box col-md-4  col-sm-12 " style="margin-top: 30px;"  *ngFor="let vila of this.crud.tabRentProd; index as i">
        <div class="top" (click)="nav4(i)">
          <img [src]="vila.imgs[0]" (click)="nav4(i)" alt="Rent heart of carthage" />
          <span (click)="nav4(i)"
            ><i class="fas fa-heart"></i><i class="fas fa-exchange-alt"></i
          ></span>
        </div>
        <div class="bottom"  (click)="nav4(i)">
          <h3>{{vila.title}}</h3>
          <p>
            {{vila. stitle}} 
          </p>
          <div class="advants">
            <div>
              <span>Bedrooms</span>
              <div><i class="fas fa-th-large"></i><span>{{vila.bed}}</span></div>
            </div>
            <div>
              <span>Bathrooms</span>
              <div><i class="fas fa-shower"></i><span>{{vila.bath}} </span></div>
            </div>
            <div>
              <span>Area</span>
              <div>
                <i class="fas fa-vector-square"></i
                ><span>{{vila.surface}}<span>Sq Ft</span></span>
              </div>
            </div>
          </div>
          <div class="price">
            <span>For Rent</span>
            <span>{{vila.prixFinal}} USD</span>
          </div>
        </div>
      </div>
    </div>
 
 
</div>
