<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading about-page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2>Contact Us</h2>
                    <span>Heart of Carthage Real Estate is an company</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** Contact Area Starts ***** -->
<div class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div id="map">
                <app-map4></app-map4>
                  <!-- You can simply copy and paste "Embed a map" code from Google Maps for any location. -->
                  
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2 >The Evolution of Luxury Starts Here!</h2>
                    <span>Heart Of carthage Dubai</span>
                </div>
                <form id="contact" action="" method="post">
                    <div class="row">
                      <div class="col-lg-6">
                        <fieldset>
                          <input name="name" type="text" id="name" placeholder="Your name" required="" [(ngModel)]="user.name">
                        </fieldset>
                      </div>
                      <div class="col-lg-6">
                        <fieldset>
                          <input name="email" type="text" id="email" placeholder="Your email" required="" [(ngModel)]="user.email">
                        </fieldset>
                      </div>
                      <div class="col-lg-12">
                        <fieldset>
                          <textarea name="message" rows="6" id="message" placeholder="Your message" required="" [(ngModel)]="user.project"></textarea>
                        </fieldset>
                      </div>
                      <div class="col-lg-12">
                        <fieldset>
                          <button type="submit" (click)="registre()" id="form-submit" class="main-dark-button"><i class="fa fa-paper-plane"></i></button>
                          </fieldset>
                      </div>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>
<!-- ***** Contact Area Ends ***** -->

<!-- ***** Subscribe Area Starts ***** -->
<div class="subscribe">
  <div class="container">
      <div class="row">
          <div class="col-lg-8">
              <div class="section-heading">
                  <h2> We help you choose the right real estate investment that guarantees you high returns with the advice of the best experts in this field</h2>
                 
              </div>
              <form id="subscribe" action="" method="get">
                  <div class="row">
                    <div class="col-lg-5">
                      <fieldset>
                        <input name="name" type="text" id="name" placeholder="Your Name" required="">
                      </fieldset>
                    </div>
                    <div class="col-lg-5">
                      <fieldset>
                        <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email Address" required="">
                      </fieldset>
                    </div>
                    <div class="col-lg-2">
                      <fieldset>
                        <button type="submit" id="form-submit" class="main-dark-button"><i class="fab fa-paper-plane"></i></button>
                      </fieldset>
                    </div>
                  </div>
              </form>
          </div>
          <div class="col-lg-4">
              <div class="row">
                  <div class="col-6">
                      <ul>
                          <li>Company Location:<br><span>UAE</span></li>
                          <li>Phone:<br><span>+971 58 218 9263</span></li>
                         
                      </ul>
                  </div>
                  <div class="col-6">
                      <ul>
                          <li>Work Hours:<br><span>07:30 AM - 9:30 PM Daily</span></li>
                          <li>Email:<br><span>Contact@heartofcarthage.com</span></li>
                          <li>Social Media:<br><span><a href="#">Facebook</a>, <a href="#">Instagram</a>, <a href="#">Behance</a>, <a href="#">Linkedin</a></span></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- ***** Subscribe Area Ends ***** -->