
.accordion-header:hover{
    background-color: #C9A770 !important ;
    border-bottom: #C9A770 !important;
    border-top: #C9A770 !important;
    color: aliceblue;
    
  }
  
  .accordion-button:hover{
    background-color: #C9A770 !important;
    border-bottom: #C9A770 !important;
    border-top: #C9A770 !important;
    color: aliceblue; 
  }
  .accordion-header{
    background-color: #C9A770 !important;
    border-bottom: #C9A770 !important;
    border-top: #C9A770 !important;
    color: aliceblue;
     
  }
  .accordion-button{
    background-color: #C9A770 !important;
    border-bottom: #C9A770 !important;
    border-top: #C9A770 !important;
    color: aliceblue;
   
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }