<body  style="margin-top: 30px;" style=" background:url('assets/images/head2.png') center center;
background-size: cover ;background-attachment: fixed ;margin-bottom: 20px;">
  <div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="right-content">
                <div class="row">

                    <div class="col-lg-12">
                        <div class="first-image">
                            <img src="assets/images/logo1.png" alt="heart-of-carthage-dubai" style="width:50%;">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="left-content">
                <div class="accordion opacity-75" id="accordionExample" style="margin-top:30px;margin-bottom:30px">
                    <div class="accordion-item ">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          <h5>About us</h5>
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <span> At Heart Of Carthage Real Estate we  have a successful track record for providing end-to-end property management solutions to some of the most luxurious residential, commercial, retail & leisure Buyers and Sellers around UAE.</span>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          <h5>Why us</h5>
                           
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                       <span> Our expertise lies in the UAE real estate market as we understand the intricacies  of what it takes to get your property sold or leased  Our position as a premium real estate service dvisor has been reinforced through a series of strategic collaborations and partnerships with High-Net-Worth Individuals, leading Developers & Banks.</span> 
                           </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          <h5>Our services</h5>
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <strong>Heart of carthage is committed to providing the best real estate brokerage.</strong><ul class="list-group list-group-light">
                            <li class="list-group-item">Property Sales</li>
                            <li class="list-group-item">Property Leasing</li>
                            <li class="list-group-item">Concierge Services</li>
                            <li class="list-group-item"> Mortgage Advisory</li>
                            <li class="list-group-item">Property Management</li>
                          </ul><code></code> </div>
                      </div>
                    </div>
                  </div>   
            </div>
        </div>

    </div>
    <div class="row">
      <div class="col-12"  style="margin-top:20px;margin-bottom:20px;height: 100%; ">
        <owl-carousel-o [options]="customOptions">
          <ng-container >
               <ng-template carouselSlide >
                 <div class="card opacity-70">
                   <img src="assets/images/visa.png" class="card-img-top" alt="Hollywood Sign on The Hill"/>
                   <div class="card-body">
                     <h3 class="card-title">Visas in Dubai</h3>
                     <p class="card-text">
                      <span> The residency visas in Dubai vary in type, validity period, requirements, as well as cost, as some can be valid for 2–3 years while others for 3–10 years</span>
                     </p>
                   </div>
                 </div>
               </ng-template>
             </ng-container>
             
             <ng-container >
               <ng-template carouselSlide >
                 <div class="card opacity-70">
                   <img src="assets/images/gold.png" class="card-img-top" alt="Hollywood Sign on The Hill"/>
                   <div class="card-body">
                     <h3 class="card-title">Golden Visa</h3>
                     <p class="card-text">
                      <span>Changes made by UAE in residency, entry and golden visas.
                        The UAE Government Media Office posted a couple of circulars with new information regarding the visa scheme of the country</span> 
                     </p>
                   </div>
                 </div>
               </ng-template>
             </ng-container>
             
             <ng-container >
               <ng-template carouselSlide >
                 <div class="card opacity-75" >
                   <img src="assets/images/bit.jpg" class="card-img-top" alt="Hollywood Sign on The Hill"/>
                   <div class="card-body" >
                     <h3 class="card-title">accept cryptomonnaies</h3>
                     <p class="card-text">
                      <span> Advances in computing and cryptography have led to radical innovations, allowing transactions to be validated outside of traditional networks.</span>
                     </p>
                   </div>
                 </div>
               </ng-template>
             </ng-container>
       </owl-carousel-o>
      </div>
    </div>
</div>
  
</body>

