<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"  style="color:aliceblue;" >ADVANTAGES OF INVESTING IN DUBAI</h2>
                <h3 class="section-subheading text-muted"  style="color:aliceblue;">Why invest in Dubai's real estate market in 2023</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4  style="color:aliceblue;">No property tax</h4>
                                <h4 class="subheading"  style="color:aliceblue;">Real estate investment in Dubai </h4>
                            </div>
                            <div class="timeline-body"  style="color:aliceblue;">
                                <p class="text-muted"  style="color:aliceblue;">Expats from around the world have always been drawn to Dubai for its tax-free lifestyle. Dubai is an attractive place to work because it provides the opportunity to grow your wealth without paying taxes. Think about it. How many countries in the world don’t levy any personal tax against your income</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading" >
                                <h4  style="color:aliceblue;">obtaining an investor visa</h4>
                                <h4 class="subheading"  style="color:aliceblue;">The UAE's 'Golden visa'</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted"  style="color:aliceblue;">The golden Visa  is a long-term residence visa which enables foreign talents to live, work or study in the UAE while enjoying exclusive benefits </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                           
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 style="color:aliceblue;">public safety</h4>
                                <h4 class="subheading" style="color:aliceblue;">In addition to being one of the best places to live</h4>
                            </div>
                             <div class="timeline-body" >
                                <p class="text-muted" style="color:aliceblue;"> Dubai is also one of the best places to raise a family due to its safe and secure surroundings. The crime rate is really low, and violent crimes are almost nonexistent</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 style="color:aliceblue;">Gross annual income from 5 to 10%</h4>
                                <h4 class="subheading" style="color:aliceblue;">AWhy invest in Dubai's </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted" style="color:aliceblue;">We use innovative tools to capture value for investors and ensure excellence in returns, safety and service.</p>
                            </div> 
                        </div>
                    </li>
                   
                </ul>
            </div>
        </div>
    </div>
</section>