
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-9">
  
          <h1 class="text-white mb-4">Modifier Off Plan</h1>
  
          <div class="card" style="border-radius: 15px;">
            <div class="card-body">
  
              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">tittre</h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <input type="text" class="form-control form-control-lg" [(ngModel)]="crud.offPlanModif.title" />
  
                </div>
              </div>
  
              <hr class="mx-n3">
  
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">devlopeeur</h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <input type="text" class="form-control form-control-lg"  [(ngModel)]="crud.offPlanModif.dev" />
  
                </div>
              </div>
          
              <hr class="mx-n3">
  
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">video</h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <input type="text" class="form-control form-control-lg"  [(ngModel)]="crud.offPlanModif.video" />
  
                </div>

              </div>
              <hr class="mx-n3">
  
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">prix</h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <input type="text" class="form-control form-control-lg"  [(ngModel)]="crud.offPlanModif.prixFinal" />
  
                </div>
                
              </div>
              <hr class="mx-n3">
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">discription</h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <textarea class="form-control" rows="3" placeholder="Message sent to the employer" [(ngModel)]="crud.offPlanModif.desc"></textarea>
  
                </div>
              </div>
              <div class="row align-items-center py-3">
                <div class="col-md-12 ps-5">
                  <h6 class="mb-0">images off plan</h6>
                  <table class="table table-striped" style="width: 100%;" >
                    <thead>
                     
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of image.tabImages ; index as i">
                        
                        
        
                        <td><img [src]="item" style="height:100px ;width: 100px;" alt=""></td>
                        
                        <td (click)="supCarc(i)"><button class="btn btn-primary" type="button"  >
                          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" >  </span>
                         suprimer
                        </button></td>
                      </tr>
                      
                    </tbody>
                  </table>
                </div>
              </div>
              
              <hr class="mx-n3">
  
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">ajouter image</h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <input class="form-control form-control-lg" id="formFileLg" type="file" (change)="selectFile($event)" />
                  <div class="small text-muted mt-2">ajouter image</div>
  
                </div>
              </div>
  
              <hr class="mx-n3">
  
              <div class="px-5 py-4">
                <button type="submit" class="btn btn-primary btn-lg" (click)="modifier()">Modifier </button>
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" *ngIf="image.loadingImag" ></span>
              </div>
  
            </div>
          </div>
  
        </div>
      </div>
    </div>

