
/*hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
.logo-broker-design{

  font-size: 2vw;
  color: #c9a770;
  position: absolute;
  top: 4%;
  right: 2%;
  text-shadow: 1px 2px 0px #000000;
  z-index: 50000000000000000000;
  font-family: 'Cookie', cursive;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  z-index: 1000  !important;
  opacity: 0.8;
  min-width: 100%;
  display: flex;
  align-items: center;

}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

.nav-bar-language-select-container{

  width: 100%;
  height: 44px;
  background-color: #333;
  display: none;
  align-items: center;
  justify-content: right;

}

.nav-bar-language-select-container .drop-down{

  width: 40%;
  height: 67%;
  background: #d1d1d1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 2%;

}

.nav-bar-language-select-container .drop-down .fa-caret-down{

  margin-right: 2%;

}

.nav-bar-language-select-container .drop-down .value{

  margin: 0;
  margin-left: 3%;

}

.nav-bar-language-select-container .drop-down .value img{

  width: 15%;
  margin-right: 4%;

}

.drop-list{

  position: absolute;
  width: 40%;
  background: #ededed;
  top: -100%;
  z-index: 5;
  right: 2%;
  overflow: hidden;

}

.drop-list p{

  width: 98%;
  padding: 6% 6%;
  margin: 0;
  display: flex;
  align-items: center;

}

.drop-list p img{

  width: 15%;
  margin-right: 10%;

}

.topnav .btn-icons{

  display: none;
  width: 265px;
  height: 76px;
  align-items: center;
  justify-content: right;
  float: right;
  position: absolute;
  right: 3%;
  top: 42px;

}


@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  
}

@media screen and (max-width: 600px) {
  .topnav{
    max-width: 70px;
    display: block;
  }
  .topnav.responsive {position: fixed;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav .btn-icons{

    display: flex;

  }

  .topnav .btn-icons .icon.bars{

    background-color: #ddd;
    color: black;

  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: fixed;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .nav-bar-language-select-container{
    display: flex;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .logo-broker-design{
    font-size: 13px;
    color: #c9a770;
    position: absolute;
    top: 1.7%;
    left: 4%;
    text-shadow: 1px 2px 0px #000000;
    z-index: 50000000000000000000;
    font-family: 'Cookie', cursive;

  }

}