
<div class="boxesContainer">

  <div class="cardBox">
    <div class="card" style="background-image: url('assets/images/villasU.png');background-size: 100% 100%;">
      <div class="front">
        <h2 style="color:transparent; font-weight:bold ;; " >Villas</h2>
        <p style="color: transparent;">+ 1000 villas Buy/Rent</p>
        
      </div>
      <div class="back">
        <h3>+ 1000 villas</h3>
        <p>Rent or Buy</p>
        <a (click)="nav('/vila')">  Buy</a>
        <a (click)="nav('/rent')">Rent</a>
      </div>
    </div>
  </div>

  <div class="cardBox"  >
    <div class="card" style="background-image: url('assets/images/apprU.png');background-size: 100% 100%;">
      <div class="front">
        <h2 style="color:transparent ;font-weight:bold ; " >Apartements</h2>
        <p style="color: transparent;">+ 1000 Apartements Buy/Rent</p>
       
      </div>
      <div class="back">
        <h3>+ 1000 Apartements Buy/Rent</h3>
        <p>Rent or Buy</p>
        <a (click)="nav('/appr')">  Buy</a>
        <a (click)="nav('/rent')">Rent</a>
      </div>
    </div>
  </div>

  <div class="cardBox">
    <div class="card" style="background-image: url('assets/images/blogU.png');background-size: 100% 100%;">
      <div class="front">
        <h2 style="color:transparent ;font-weight:bold ; " >Apartements</h2>
        <p style="color: transparent;">+ 1000 Apartements Buy/Rent</p>
      </div>
      <div class="back">
        <h3>+1000 clients </h3>
        <p>Investment In Dubai</p>
        <a  (click)="nav('/offs')">Veiw more</a>
        
      </div>
    </div>
  </div>
  <div class="cardBox">
    <div class="card" style="background-image: url('assets/images/luxU.png');background-size: 100% 100%;">
      <div class="front">
        <h2 style="color:transparent ;font-weight:bold ; " >Apartements</h2>
        <p style="color: transparent;">+ 1000 Apartements Buy/Rent</p>
      </div>
      <div class="back">
        <h3> Luxury Properties </h3>
        <p>View our exclusive listings</p>
        <a href="#">Learn more</a>
       
      </div>
    </div>
  </div>


</div>
<!--.boxesContainer-->