<!---<app-header></app-header>

<app-footer></app-footer>-->

 
  
<!--   Sorry for the inconvenience. Our website is currently undergoing maintenance to provide you with an enhanced user experience. We apologize for any inconvenience caused and appreciate your patience. We'll be back soon with exciting updates and improvements. Thank you for your understanding.
  <p (click)="changeInput1">!!!!!!!</p>
</div> -->
<section >
<app-custom-nav-bar *ngIf="crud.isCustomNavBar"></app-custom-nav-bar>
<app-aceuil *ngIf="crud.affAd"></app-aceuil>

	<app-not-box-arabe *ngIf="crud.affNoteArabe  " ></app-not-box-arabe>
	<app-not-box-english *ngIf="crud.affNoteEnglish"></app-not-box-english>
	<app-survey-app *ngIf="crud.affForm"></app-survey-app>


<router-outlet></router-outlet>
<div id="mybutton" style="z-index:5000; margin-top: 600px;margin-bottom: 20px;margin-left:5px;width: 70%;">
	<button class="feedback" (click)="openForm()" *ngIf="crud.consulAff">free consultation</button>
	</div>
<div style="z-index:5000 ; margin-top: 500px;margin-bottom: 300px;" *ngIf="crud.affAd">     
	<a target="_blank" href="https://api.whatsapp.com/send?phone=+971%2058%20218%209263&text=%D8%A7%D8%B1%D8%B3%D9%84%20%D8%A7%D9%84%D8%A2%D9%86%20%D8%B7%D9%84%D8%A8%D9%83">
		<div class="whatsapp-bull">
			<i class="fa-brands fa-whatsapp"></i>
		</div>
	</a>
</div>
<app-footer></app-footer>
</section>
