
   <div class="container" class="res">
      
         <h1 class="section-heading" style="text-align: center;color:#ECD672; margin-bottom: 10px;font-size: 40px;"> Buy a property   </h1>
       
         
        

   

      
      <div class="row" style="margin-bottom: 10px;margin-top: 30px;text-align:center">
        <div class="column" value="vila"  >
          <div class="card" >
            <div class="icon-wrapper"  style="text-align: center;">
                <img  src="assets/images/b12.png" class="im"  >
            </div >
            <h2 (click)="aff('vila')" style="color: #ECD672" > Payment With
              Cryptocurrency

            </h2>
            
          </div>
        </div>
        <div class="column" value="Market" >
          <div class="card" >
            <div class="icon-wrapper" >
                <img  src="assets/images/images-survey/comm.png" class="im"  >
            </div>
            <h2 (click)="aff('Market')"> Commission Fee

            </h2>
            
          </div>
        </div>
        <div class="column" value="Appartment "  >
          <div class="card" >
            <div class="icon-wrapper">
                <img   src="assets/images/images-survey/gold10.png" class="im"  >
            </div>
            <h2 (click)="aff('Appartment ')">  10 years golden visa

    

            </h2>
            
          </div>
        </div>
       
      </div>
   
     

    </div>
   