
   <div class="container" class="res">
      
         <h2 class="section-heading" style="text-align: center;color:#C9A770; margin-bottom: 10px;">  CHOOSE   </h2>
   
         
        

   

      
      <div class="row" style="margin-bottom: 10px;margin-top: 30px;text-align:center">
        <div class="column"  >
          <div class="card" routerLink="/vila">
            <div class="icon-wrapper">
                <img src="assets/images/images-survey/ch1.png" style="height:auto;width:auto;max-width: 80px;max-height: 80px;" >
            </div>
            <h2 >  Vila

            </h2>
            
          </div>
        </div>
        <div class="column"  >
          <div class="card" routerLink="/offs">
            <div class="icon-wrapper">
                <img src="assets/images/images-survey/ch2.png" style="height:auto;width:auto;max-width: 80px;max-height: 80px;" >
            </div>
            <h2> Off-Plan

            </h2>
            
          </div>
        </div>
        <div class="column"  >
          <div class="card" routerLink="/appr">
            <div class="icon-wrapper">
                <img src="assets/images/images-survey/ch3.png" style="height:auto;width:auto;max-width: 80px;max-height: 80px;" >
            </div>
            <h2>  Appartment 

    

            </h2>
            
          </div>
        </div>
       
      </div>
    </div>
   