<div class="header">
	<div class="item"><i class="fa-solid fa-phone"></i><span>+1234567894</span></div>
	<div class="item"><i class="fa-brands fa-whatsapp"></i><span>WhatsApp</span></div>
	<div class="item end"><i class="fa-solid fa-blog"></i><span>Blog</span></div>
</div>
<div class="laptop-version">
	<div class="nav-bar-on-scroll-event">
		<div class="logo"><img src="assets/images/logoHOCD.png" style="width: 20%;" alt="logo"></div> 
		<div class="menu-list">
			<div class="item"><span>Buy</span><i class="fa-solid fa-angle-down"></i>
				<div class="drop-down-item">
					<div class="drop-content">
						<div class="drop-item">Appartements for sale</div>
						<div class="drop-item">Villas for sale</div>
						<div class="drop-item">Townhouses for sale</div>
						<div class="drop-item">Appartements for sale</div>
					</div>
				</div>
			</div>
			<div class="item"><span>Rent</span><i class="fa-solid fa-angle-down"></i>
				<div class="drop-down-item">
					<div class="drop-content">
						<div class="drop-item">Appartements for sale</div>
						<div class="drop-item">Villas for sale</div>
						<div class="drop-item">Townhouses for sale</div>
						<div class="drop-item">Appartements for sale</div>
					</div>
				</div>
			</div>
			<div class="item"><span>Off plan</span><i class="fa-solid fa-angle-down"></i>
				<div class="drop-down-item">
					<div class="drop-content">
						<div class="drop-item">Appartements for sale</div>
						<div class="drop-item">Villas for sale</div>
						<div class="drop-item">Townhouses for sale</div>
						<div class="drop-item">Appartements for sale</div>
					</div>
				</div>
			</div>
			<div class="item"><span>Market Trends</span><i class="fa-solid fa-angle-down"></i>
				<div class="drop-down-item">
					<div class="drop-content">
						<div class="drop-item">Appartements for sale</div>
						<div class="drop-item">Villas for sale</div>
						<div class="drop-item">Townhouses for sale</div>
						<div class="drop-item">Appartements for sale</div>
					</div>
				</div>
			</div>
			<div class="item"><span>Services</span><i class="fa-solid fa-angle-down"></i>
				<div class="drop-down-item">
					<div class="drop-content">
						<div class="drop-item">Appartements for sale</div>
						<div class="drop-item">Villas for sale</div>
						<div class="drop-item">Townhouses for sale</div>
						<div class="drop-item">Appartements for sale</div>
					</div>
				</div>
			</div>
			<div class="item"><span>Who we are</span><i class="fa-solid fa-angle-down"></i>
				<div class="drop-down-item end">
					<div class="drop-content">
						<div class="drop-item">Appartements for sale</div>
						<div class="drop-item">Villas for sale</div>
						<div class="drop-item">Townhouses for sale</div>
						<div class="drop-item">Appartements for sale</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="nav-bar">
		<div class="logo"><img src="assets/images/logoHOCD.png" style="width: 20%;" alt="logo"></div>
		<div class="menu-list">
			<div class="item"><span>Buy</span><i class="fa-solid fa-angle-down"></i>
				<div class="drop-down-item">
					<div class="drop-content">
						<div class="drop-item">Appartements for sale</div>
						<div class="drop-item">Villas for sale</div>
						<div class="drop-item">Townhouses for sale</div>
						<div class="drop-item">Appartements for sale</div>
					</div>
				</div>
			</div>
			<div class="item"><span>Rent</span><i class="fa-solid fa-angle-down"></i>
				<div class="drop-down-item">
					<div class="drop-content">
						<div class="drop-item">Appartements for sale</div>
						<div class="drop-item">Villas for sale</div>
						<div class="drop-item">Townhouses for sale</div>
						<div class="drop-item">Appartements for sale</div>
					</div>
				</div>
			</div>
			<div class="item"><span>Off plan</span><i class="fa-solid fa-angle-down"></i>
				<div class="drop-down-item">
					<div class="drop-content">
						<div class="drop-item">Appartements for sale</div>
						<div class="drop-item">Villas for sale</div>
						<div class="drop-item">Townhouses for sale</div>
						<div class="drop-item">Appartements for sale</div>
					</div>
				</div>
			</div>
			<div class="item"><span>Market Trends</span><i class="fa-solid fa-angle-down"></i>
				<div class="drop-down-item">
					<div class="drop-content">
						<div class="drop-item">Appartements for sale</div>
						<div class="drop-item">Villas for sale</div>
						<div class="drop-item">Townhouses for sale</div>
						<div class="drop-item">Appartements for sale</div>
					</div>
				</div>
			</div>
			<div class="item"><span>Services</span><i class="fa-solid fa-angle-down"></i>
				<div class="drop-down-item">
					<div class="drop-content">
						<div class="drop-item">Appartements for sale</div>
						<div class="drop-item">Villas for sale</div>
						<div class="drop-item">Townhouses for sale</div>
						<div class="drop-item">Appartements for sale</div>
					</div>
				</div>
			</div>
			<div class="item"><span>Who we are</span><i class="fa-solid fa-angle-down"></i>
				<div class="drop-down-item end">
					<div class="drop-content">
						<div class="drop-item">Appartements for sale</div>
						<div class="drop-item">Villas for sale</div>
						<div class="drop-item">Townhouses for sale</div>
						<div class="drop-item">Appartements for sale</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="responsive-version">
	<div class="nav-bar">
		<div class="logo"><img src="assets/images/logoHOCD.png" style="width: 20%;" alt="logo"></div>
		<div class="menu-btn" (click)="openSide()" ><i class="fa-solid fa-bars"></i></div>
	</div>
	<div class="side-bar" id="sideBar">
		<div class="content-side-bar" id="contentBar">
			<div class="header-title">
				<div class="title">Menu</div>
				<i class="fa-solid fa-xmark" (click)="closeSide()"></i>
			</div>
			<div class="menu-list">
				<div class="item">
					<input type="text" readonly name="">
					<div class="item-title"><div>Buy</div><i class="fa-solid fa-angle-down"></i></div>
					<div class="list">
						<div class="drop-item"><div>Appartements for sale</div></div>
						<div class="drop-item"><div>Villas for sale</div></div>
						<div class="drop-item"><div>Townhouses for sale</div></div>
						<div class="drop-item"><div>Appartements for sale</div></div>
					</div>
				</div>
				<div class="item">
					<input type="text" readonly name="">
					<div class="item-title"><div>Rent</div><i class="fa-solid fa-angle-down"></i></div>
					<div class="list">
						<div class="drop-item"><div>Appartements for sale</div></div>
						<div class="drop-item"><div>Villas for sale</div></div>
						<div class="drop-item"><div>Townhouses for sale</div></div>
						<div class="drop-item"><div>Appartements for sale</div></div>
					</div>
				</div>
				<div class="item">
					<input type="text" readonly name="">
					<div class="item-title"><div>Off Plan</div><i class="fa-solid fa-angle-down"></i></div>
					<div class="list">
						<div class="drop-item"><div>Appartements for sale</div></div>
						<div class="drop-item"><div>Villas for sale</div></div>
						<div class="drop-item"><div>Townhouses for sale</div></div>
						<div class="drop-item"><div>Appartements for sale</div></div>
					</div>
				</div>
				<div class="item">
					<input type="text" readonly name="">
					<div class="item-title"><div>Market Trends</div><i class="fa-solid fa-angle-down"></i></div>
					<div class="list">
						<div class="drop-item"><div>Appartements for sale</div></div>
						<div class="drop-item"><div>Villas for sale</div></div>
						<div class="drop-item"><div>Townhouses for sale</div></div>
						<div class="drop-item"><div>Appartements for sale</div></div>
					</div>
				</div>
				<div class="item">
					<input type="text" readonly name="">
					<div class="item-title"><div>Services</div><i class="fa-solid fa-angle-down"></i></div>
					<div class="list">
						<div class="drop-item"><div>Appartements for sale</div></div>
						<div class="drop-item"><div>Villas for sale</div></div>
						<div class="drop-item"><div>Townhouses for sale</div></div>
						<div class="drop-item"><div>Appartements for sale</div></div>
					</div>
				</div>
				<div class="item">
					<input type="text" readonly name="">
					<div class="item-title"><div>Who we are</div><i class="fa-solid fa-angle-down"></i></div>
					<div class="list">
						<div class="drop-item"><div>Appartements for sale</div></div>
						<div class="drop-item"><div>Villas for sale</div></div>
						<div class="drop-item"><div>Townhouses for sale</div></div>
						<div class="drop-item"><div>Appartements for sale</div></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>