@import url(https://fonts.googleapis.com/css?family=Sigmar+One);
.form-multi-step{

	width: 400px;
	height: 340px;
	display: -webkit-box;
	position: relative;
	overflow: hidden;
	transition: .4s;

}

.form-multi-step .step{

	width: 90%;
	height: 40%;
	margin-top: 25%;
	padding: 0 4% 0 6%;
	margin-left: 2%;
	transition: .4s;

}

.form-multi-step .step .input{

	width: 100%;
	height: 15%;

}

.form-multi-step .step .input label{

	font-size: 1.3vw;

}

.form-multi-step .step .input input{

	width: 100%;
	margin: 4% 0;
	padding: 4%;
	outline:none;
	border: none;
	font-size: 1.2vw;
	border-radius: 3px;
	background-color: white;
	border: 1px solid gray;

}

.form-multi-step button{

	position: absolute;
	bottom: 10%;
	width: 27%;
	padding: 3% 0;
	font-size: 1.2vw;
	border-radius: 5px;
	border: none;
	left: 35%;
	background-color: #c38f3c;
	cursor: pointer;


}


.form-multi-step .step .col-input{

	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.form-multi-step .step .col-input .input{

	width: 47%;
	height: 15%;

}


.form-multi-step #step-3{

	margin-top: 4%;
	height: 70%;
	width: 89.5%;

}


.form-multi-step #step-3 .drop-down-step{

	width: 100%;
	height: 20%;
	background-color: white;
	margin-bottom: 3%;
	margin-left: -1%;
	border-radius: 5px;
	display: flex;
	align-content: center;
	justify-content: space-between ;
	font-size: 1.2vw;
	position: relative;
	cursor: pointer;
	padding: .5%;
	border: 1px solid gray;
}

.form-multi-step #step-3 .drop-down-step .value{

	display: flex;
	align-items: center;
	width: 80%;
	padding-left: 3%;

}

.form-multi-step #step-3 .drop-down-step i{

	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 4%;

}

.form-multi-step #step-3 .drop-down-step .drop-list-hr{

	width: 100.5%;
	height: 0;
	background-color: white;
	position: absolute;
	margin-top: 12%;
	margin-left: -.6%;
	z-index: 15;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	transition: .2s;
	display: flex;
	align-items: center;
	justify-content: space-around;
	overflow: hidden;
	border: 1px solid transparent;
	border-top:none;

}


.form-multi-step #step-3 .drop-down-step .drop-list-hr .choice{

	width: 30%;
	height: 45%;
}

.form-multi-step #step-3 .drop-down-step .drop-list-hr .choice .icons{

	width: 100%;
	height: 40%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 1.4vw;

}

.form-multi-step #step-3 .drop-down-step .drop-list-hr .choice p{

	font-size: 1.1vw;
	text-align: center;

}

.form-multi-step #step-3 .drop-down-step .drop-list-hr .choice .bank-label{

	font-size: 1.1vw;
	text-align: center;
	width: 150px;
	margin-left: -20%;

}

.form-multi-step #step-3 .drop-down-step .drop-list-hr .choice .btn-select-item{

	width: 100%;
	height: 70%;
	display: flex;
	align-items: center;
	justify-content: center;

}


.form-multi-step #step-3 .drop-down-step .drop-list-hr .choice .btn-select-item div{

	width: 15px;
	height: 15px;
	border-radius: 100px;
	border: 1px solid #c38f3c;
}


.form-multi-step #step-3 .drop-down-step:hover .drop-list-hr{

	height: 100px;
	border-color: gray;

}
.form-multi-step #step-3 .drop-down-step:hover .drop-list-vr{

	height: 100px;
	border-color: gray;

}

.form-multi-step #step-3 .drop-down-step .drop-list-vr{

	width: 100.5%;
	height: 0;
	background-color: white;
	position: absolute;
	margin-top: 12.5%;
	margin-left: -.6%;
	z-index: 15;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	transition: .2s;
	overflow: hidden;
	border: 1px solid transparent;
	border-top:none;

}


.form-multi-step #step-3 .drop-down-step .drop-list-vr .choice{

	width: 100%;
	height: 30%;
	display: flex;
	align-items: center;
	cursor: pointer;

}


.form-multi-step #step-3 .drop-down-step .drop-list-vr .choice .icons{

	width: 10%;
	height: 40%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 1.4vw;

}

.form-multi-step #step-3 .drop-down-step .drop-list-vr .choice p{

	font-size: 1.1vw;
	text-align: center;
	margin: 0;

}

.form-multi-step #step-3 .drop-down-step .drop-list-vr .choice .btn-select-item{

	width: 10%;
	height: 70%;
	display: flex;
	align-items: center;
	justify-content: center;

}


.form-multi-step #step-3 .drop-down-step .drop-list-vr .choice .btn-select-item div{

	width: 15px;
	height: 15px;
	border-radius: 100px;
	border: 1px solid #c38f3c;
}
