 <!-- ***** Main Banner Area Start ***** -->
 
<!-- ***** Main Banner Area End ***** -->


<!-- ***** Products Area Starts ***** -->
<section id="aa-latest-property">
    <div class="container">
      <div class="aa-latest-property-area">
        <div class="aa-title">
          <h2 style="font-family: font-italic">Villas & Townhouses </h2>
          <span></span>
                 
        </div>
        <div class="row" style="text-align: center;margin-top: 20%; margin-bottom: 20px" *ngIf="loading">
          <div class="col-12">
              <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                  <span class="visually-hidden"> Loading...</span>
                </div>
          </div>
      </div>
     
 
    
        <!--2-->
        
        <!--fin 2-->
      </div>
    </div>
  </section>
<!-- ***** Products Area Ends ***** -->
<div class="container"   *ngIf="!loading">
  <div class="row">
    <div *ngIf="testWidth" class="box  col-4   " style="margin-top: 30px;"  *ngFor="let vila of tab; index as i">
      <div class="top" (click)="nav2(i)">
        <img [src]="vila.imgs[0]" (click)="nav2(i)" alt="villa heart of carthage" />
        <span (click)="nav2(i)"
          ><i class="fas fa-heart"></i><i class="fas fa-exchange-alt"></i
        ></span>
      </div>
      <div class="bottom" (click)="nav2(i)">
        <h3 style="font-family: font-italic;">{{vila.title}}</h3>
        <p >
          {{vila. stitle}} 
        </p>
        <p style="color: orange;">
          10%  Booking Amount
        </p>
        <p style="color: orange;">
           Accept Payment With Cryptocurrency
        </p>
        <div class="advants">
          <div>
            <span>Bedrooms</span>
            <div><i class="fas fa-th-large"></i><span>{{vila.bed}}</span></div>
          </div>
          <div>
            <span>Bathrooms</span>
            <div><i class="fas fa-shower"></i><span>{{vila.bath}} </span></div>
          </div>
          <div>
            <span>Area</span>
            <div>
              <i class="fas fa-vector-square"></i
              ><span>{{vila.surface}}<span>Sq Ft</span></span>
            </div>
          </div>
        </div>
        <div class="price">
          <span>For Sale</span>
          <span>{{vila.prixFinal}} USD</span>
        </div>
      </div>
    </div>
    <div *ngIf="!testWidth"class="box  col-12   " style="margin-top: 30px;"  *ngFor="let vila of tab; index as i">
      <div class="top" (click)="nav2(i)">
        <img [src]="vila.imgs[0]" (click)="nav2(i)" alt="villa heart of carthage" />
        <span (click)="nav2(i)"
          ><i class="fas fa-heart"></i><i class="fas fa-exchange-alt"></i
        ></span>
      </div>
      <div class="bottom" (click)="nav2(i)">
        <h3 style="font-family: font-italic;">{{vila.title}}</h3>
        <p >
          {{vila. stitle}} 
        </p>
        <p style="color: orange;">
          10%  Booking Amount
        </p>
        <p style="color: orange;">
           Accept Payment With Cryptocurrency
        </p>
        <div class="advants">
          <div>
            <span>Bedrooms</span>
            <div><i class="fas fa-th-large"></i><span>{{vila.bed}}</span></div>
          </div>
          <div>
            <span>Bathrooms</span>
            <div><i class="fas fa-shower"></i><span>{{vila.bath}} </span></div>
          </div>
          <div>
            <span>Area</span>
            <div>
              <i class="fas fa-vector-square"></i
              ><span>{{vila.surface}}<span>Sq Ft</span></span>
            </div>
          </div>
        </div>
        <div class="price">
          <span>For Sale</span>
          <span>{{vila.prixFinal}} USD</span>
        </div>
      </div>
    </div>
  </div>


</div>