 <!-- ***** Main Banner Area Start ***** -->
 <div class="page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2>Vilas & Townhouses</h2>
                    <span>Awesome &amp; Creative HTML CSS layout by therichpost</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->


<!-- ***** Products Area Starts ***** -->
<section class="section" id="products">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Vilas & Townhouses</h2>
                    <span>Check out all of our products.</span>
                </div>
            </div>
            <div class="row" style="text-align: center;margin-top: 20%; " *ngIf="loading">
                <div class="col-12">
                    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                        <span class="visually-hidden"> Loading...</span>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="!loading">
        <div class="row">
            <div class="col-lg-4" *ngFor="let item of tab ; index as i">
                <div class="item">
                    <div class="thumb">
                        <div class="hover-content" (click)="nav2(i)">
                            <ul>
                                <li><a ><i class="fa fa-eye"></i></a></li>
                                <li><a ><i class="fa fa-star"></i></a></li>
                                <li><a ><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <img [src]='item.imageProfil' alt="carthage-dubai">
                    </div>
                    <div class="down-content">
                        <h4>{{item.title}}</h4>
                        <span>{{item.prixFinal}}</span>
                        <ul class="stars">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- ***** Products Area Ends ***** -->
