
<style>

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}

#myVideo {
 
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  min-height:500px ;
}

.content {
  position: fixed;
  bottom: 0;
  top: 0px;

  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  z-index: 1;
  text-align: center;
 
  padding: 50px;
}

#myBtn {
  width: 300px;
  font-size: 18px;
  padding: 10px;
  margin-top: 30px;
  border: none;
  background: #c38f3c;
  color: #fff;
  cursor: pointer;
}

.card {
	border: 1px solid transparent !important;
  background-color: transparent;
	margin: 0.6 em auto 0;
	max-width: 100%;
	padding: 1em;
	width: 100%;
  transform: scale(0.8);
 text-align: left;
    margin-left: 27%;
   
}

#myBtn:hover {
  background: #ddd;
  color: black;

}
@media only screen and (max-width: 700px){
  .content {
    margin-top:30% ;
  }
  .card{
    transform: scale(0.9);
   text-align: left;
    margin-left: 3%;
  }
 .hh{
    font-size: 15px !important;
  }
  .h22{
    font-size: 1.5rem;
  }
}
</style>

<body>
	<iframe   id="myVideo" [src]=video ></iframe>
<!-- <video autoplay muted loop id="myVideo">
  <iframe src="https://www.youtube.com/embed/pxEWiz40xBo" type="video/mp4">
  Your browser does not support HTML5 video.
</video> -->

 <div class="content" id="cot"  [class.selected]="scroll > 10">
 <img src="assets/images/logoPh.png" alt="Azizi Revera" height="auto" width="10%">
  <h2  class="h22" style="color:#c38f3c;font-family:font-italic">Get your apartment in {{crud.rev[id].title}}</h2>
  <div class="card wow bounceInUp" data-wow-duration="2s">
    <h3 class="hh"><i class="fas fa-check" style="color: orange;"></i> 10%  Booking Amount</h3>
    <h3 class="hh"><i class="fas fa-check" style="color: orange;"></i> 0% Interest Rate  For Paymen</h3>
    <h3 class="hh"> <i class="fas fa-check" style="color: orange;"></i> Payment With Cryptocurrency</h3>
  </div>
  <button id="myBtn" (click)=" Navigate(Form )">ADD NOW</button>
  
</div> 
<section >
  <app-accord  ></app-accord>
</section>


<section  style="background: url('assets/images/img/2.png') center center;
background-size: cover;background-attachment: fixed ;margin-bottom: 0px;" #Form>
<app-form3></app-form3>
</section>
</body>

