
<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}

#myVideo {
 
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  min-height:500px ;
}

.content {
  position: fixed;
  bottom: 0;
  top: 0px;

  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  z-index: 1;
  text-align: center;
 
  padding: 50px;
}

#myBtn {
  width: 300px;
  font-size: 18px;
  padding: 10px;
  margin-top: 30px;
  border: none;
  background: #c38f3c;
  color: #fff;
  cursor: pointer;
}
.card {
	border: 1px solid black;
  background-color: transparent;
	margin: 1em auto 0;
	max-width: 100%;
	padding: 1em;
	width: 100%;
  transform: scale(0.6);
}
#myBtn:hover {
  background: #ddd;
  color: black;
}
</style>

<body>
	<iframe   id="myVideo" src="https://www.youtube.com/embed/pxEWiz40xBo?autoplay=1&mute=1"  ></iframe>
<!-- <video autoplay muted loop id="myVideo">
  <iframe src="https://www.youtube.com/embed/pxEWiz40xBo" type="video/mp4">
  Your browser does not support HTML5 video.
</video> -->

 <div class="content" id="cot"  [class.selected]="scroll > 10">
 <img src="assets/images/logoPh.png" alt="Azizi Revera" height="auto" width="10%">
  <h2 style="color:#c38f3c;font-family:font-italic">Get your apartment in revera Azizi</h2>
  <div class="card">
    <h3><i class="fas fa-bullhorn"></i> 10%  Booking Amount</h3>
    <h3>0% Interest Rate  For Paymen</h3>
    <h3> $ Payment With
      Cryptocurrency</h3>
  </div>
  <button id="myBtn" (click)=" Navigate(Form )">ADD NOW</button>
  
</div> 
<section >
  <app-accord  ></app-accord>
</section>

<!-- <script>
// var video = document.getElementById("myVideo");
// var btn = document.getElementById("myBtn");

// function myFunction() {/     video.play();
//     btn.innerHTML = "Pause";
//   } else {
//     video.pause();
//     btn.innerHTML = "Play";
//   }
// }
//   if (video.paused) {
/
</script> -->
<section  style="background: url('assets/images/img/2.png') center center;
background-size: cover;background-attachment: fixed ;margin-bottom: 0px;" #Form>
<app-form3></app-form3>
</section>
</body>

