
<style>

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: Arial;
  font-size: 17px; */
} 
 
#myVideo {
 
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  /* min-height:500px ; */
}

#myVideo2 {
 
 right: 0;
 bottom: 0;
 width: 100%;
 height: auto;
 min-height:500px ;
}
.content {
  position: fixed;
  bottom: 0;
  top: 0px;

  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  z-index: 1;
  text-align: center;
 
  padding: 50px;
}

#myBtn {
  width: 300px;
  font-size: 18px;
  padding: 10px;
  margin-top: 30px;
  border: none;
  background: #c38f3c;
  color: #fff;
  cursor: pointer;
}

.card {
	border: 1px solid transparent !important;
  background-color: transparent;
	margin: 0.6 em auto 0;
	max-width: 100%;
	padding: 1em;
	width: 100%;
  transform: scale(0.8);
 text-align: left;
    margin-left: 27%;
   
}

#myBtn:hover {
  background: #ddd;
  color: black;

}  @media only screen and (max-width: 700px){
  .content {
    margin-top:30% ;
  }
  .card{
    transform: scale(0.9);
   text-align: left;
    margin-left: 3%;
  }
 .hh{
    font-size: 15px !important;
  }
  .h22{
    font-size: 1.5rem;
  }
}
</style>

<body >
  <section  style="background: url('https://a0.muscache.com/im/pictures/prohost-api/Hosting-823530446053276052/original/87b54124-8173-4068-aacb-e4ee8a27c048.jpeg?im_w=720') center center;
  background-size: cover;background-attachment: fixed ;margin-bottom: 0px;" #Form>
  <app-form3></app-form3>
  </section>
  <section class="testimonials" id="gobottom">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3 wow bounceInUp" data-wow-duration="1.4s">
                <div class="big-img">
                 <mdb-carousel   >
                        <mdb-carousel-item>
                          <img
                            src=   "https://azizidevelopments.com/assets/images/properties/beach-oasis/1665579700748337076.jpg"
                            class="d-block w-100"
                            style="max-height: 500px;"
                            alt="heart of carthage real estate"
                          />
                        </mdb-carousel-item>
                        <mdb-carousel-item>
                          <img
                            src="https://assets.avanihotels.com/image/upload/q_auto,f_auto%2Cc_limit%2Cw_1440/media/minor/avani/images/palm-view-dubai/rooms/room-gallery/superior-two-bedroom-sea-view-apartment/avani-seaview-two-bedroom-apartment-living-room.png"
                            class="d-block w-100"
                            style="max-height: 500px;"
                            alt="heart of carthage real estate"
                          />
                        </mdb-carousel-item>
                        <mdb-carousel-item>
                          <img
                            src="https://assets.avanihotels.com/image/upload/q_auto,f_auto%2Cc_limit%2Cw_1440/media/minor/avani/images/palm-view-dubai/rooms/room-gallery/superior-three-bedroom-sea-view-apartment/superior-seaview-three-bedroom-apartment-master-bedroom.png"
                            class="d-block w-100"
                            style="max-height: 500px;"
                            alt="heart of carthage real estate"
                          />
                        </mdb-carousel-item>
                      </mdb-carousel>
                </div>
            </div>
            <div class="col-md-8">
                <div class="inner-section wow fadeInUp">
                    <h3>{{this.crud.rev[this.crud.id2].titleHtml1}}<span class='bg-main'> {{this.crud.rev[this.crud.id2].titleHtml2}}</span></h3> 
                    <br>
                    <p class="text-justify">
                        {{this.crud.rev[this.crud.id2].desc}}</p>

                    <div class="linear-grid">
                        <div class="row">
                            <div class="col-sm-6 col-md-3 mb-2 wow bounceInUp" data-wow-duration="1.4s" *ngFor="let img of images" >
                                <img [src]='img' class="img-thumbnail" alt="heart-of-carthage-dubai">
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="wow zoomIn" data-wow-duration="2s" style="text-align: center;">
                  <a  [href]="crud.rev[id].brochure" download="file.pdf" style="width: 80%;height: auto;" class="btn btn-warning btn-rounded"><span style="font-family: font-italic;font-weight: 800;color:#fff">Download Brochure</span> </a></div>
            </div>
        </div>

    </div>
</section>
  
  <video  id="myVideo"  loop  muted autoplay  playsinline  oncanplay="this.play()" onloadedmetadata="this.muted=true"     >
    <source [src]="video"  type="video/mp4">
   
   
  </video>
  <div class="container" style="margin-top: 20px ;">
    <div class="row" >
        <div class="col-md-8 col-sm-12 wow bounceInUp" data-wow-duration="2s">
            <div class="table-responsive">
                <table class="table table-striped text-successtable-border border-ligh" >
                    <tbody>
                      <tr>
                        <th ><i class="fas fa-building"> </i>Proprytes types</th>
                    
                        <th><i class="fas fa-bed"> </i>Unit types</th>
                      
                        <th ><i class="far fa-money-bill-alt"></i>Price</th>
               
                        
                      </tr>
                    </tbody >
                    <tbody style="background-color: #fff;" >
                      <tr style="background-color: #fff;">
                       
                        <td style="background-color: #fff;">{{this.crud.rev[this.crud.id2].catigorie}}</td>
                        <td style="background-color: #fff;"><small class="fw-bold" style="color: orange;">1,2,3,4</small></td>
                        
                        <td style="background-color: #fff;"><strong class="fw-bold" style="color: orange;">{{this.crud.rev[this.crud.id2].price}}</strong></td>
                      </tr>
                     
                    
                    </tbody>
                  </table>
            </div>
           
        </div>
        <div class="col-md-4 col-sm-12 wow bounceInUp" data-wow-duration="2s">
            <div class="table-responsive" >
                <table class="table table-striped text-successtable-border border-ligh" >
                   
                    <tbody>
                      <tr>
                       
                        <th>PAYMENT PLAN</th>
                        <th>Location</th>
                       
                      </tr>
                      <tr>
                       
                        <td><strong class="fw-bold" style="color: orange;">{{this.crud.rev[this.crud.id2]. pyement}}</strong></td>
                        <td><small class="fw-bold" style="color: orange;"><i class="fas fa-location-dot"></i> {{this.crud.rev[this.crud.id2].location}} .</small></td>
                      
                      </tr>
                    
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>

    <!-- <iframe  id="myVideo" width="100%" height="auto" [src]=video title="heart-of-carthage-dubai-real-estate"  allow="autoplay; encrypted-media"></iframe>  -->

<!-- <video autoplay muted loop id="myVideo">
  <iframe src="https://www.youtube.com/embed/pxEWiz40xBo" type="video/mp4">
  Your browser does not support HTML5 video.
</video> -->
<!-- <iframe #videoFrame class="myVideo" width="560" height="315" frameborder="0" allowfullscreen></iframe> -->

 <!-- <div class="content" id="cot"  [class.selected]="scroll > 10">
 <img src="assets/images/logoPh.png" alt="Azizi Revera" height="auto" width="10%">
  <h2  class="h22" style="color:#c38f3c;font-family:font-italic">Get your apartment in {{crud.rev[id].title}}</h2>
  <div class="card wow bounceInUp" data-wow-duration="2s">
    <h3 class="hh"><i class="fas fa-check" style="color: orange;"></i> {{crud.rev[id].prencentage}} Booking Amount</h3>
    <h3 class="hh"><i class="fas fa-check" style="color: orange;"></i> Golden Visa</h3>
    <h3 class="hh"> <i class="fas fa-check" style="color: orange;"></i> Payment With Cryptocurrency</h3>
  </div>
  <button id="myBtn" (click)=" Navigate(Form )">Book now</button>
  
</div>  -->
<section >
  <app-accord  ></app-accord>
</section>



</body>

