<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="first-item">
                    <div class="logo">
                       heart Of CarthageDubai
                    </div>
                    <ul>
                        <li><a href="#">Ben daha Iheb</a></li>
                        <li><a href="https://www.google.com/intl/fr/gmail/about/">Contact@heartofcarthage.com</a></li>
                        <li><a href="#">12345678910</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <h4>Categories</h4>
                <ul>
                    <li><a  routerLink="/rent">Rent</a></li>
                    <li><a  routerLink="/vila">Vilas</a></li>
                    <li><a href="/appar">Apportemment</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="#">Homepage</a></li>
                    <li><a  routerLink="/about">About Us</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a  routerLink="/contact-us">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Help &amp; Information</h4>
                <ul>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">FAQ's</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Tracking ID</a></li>
                </ul>
            </div>
            <div class="col-lg-12">
                <div class="under-footer">
                    <p>Copyright © 2022 Therichpost Co., Ltd. All Rights Reserved.

                    <br>Design: <a href="https://heart-of-carthage-dubai.com/" target="_parent" title="free css templates">therichpost</a></p>
                    <ul>
                        <li><a href="#"><i class="fas fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fas fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fas fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fas fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
