<!-- ***** Footer Start ***** -->
<footer style="margin-top: 0px !important;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="first-item">
                    <div class="logo" style="text-align:center;">
                        <img src="assets/images/logo1.png" style="height:auto;width:auto;max-width: 100px;max-height: 80px;" alt="heart-of-carthage-dubai">
                    </div>
                    <ul>
                        <li><a href="#">Ben Daher Iheb</a></li>
                        <li><a href="https://www.google.com/intl/fr/gmail/about/">Contact@heartofcarthage.com</a></li>
                        <li><a href="#">+971 58 218 9263</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <h4>Categories</h4>
                <ul>
                    <li><a  routerLink="/rent">Rent</a></li>
                    <li><a  routerLink="/vila">Vilas</a></li>
                    <li><a href="/appar">Apportemment</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="#">Homepage</a></li>
                    <li><a  routerLink="/about">About Us</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a  routerLink="/contact-us">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Help &amp; Information</h4>
                <ul>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">FAQ's</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Tracking ID</a></li>
                </ul>
            </div>
            <div class="col-lg-12">
                <div class="under-footer">
                    <p>Copyright © 2023 Heart of Carthage Dubai Co., Ltd. All Rights Reserved.

                    <br>Real Estate: <a href="https://heart-of-carthage-dubai.com/" target="_parent" title="Heart of Carthage Dubai real estate">Heart of Carthage Dubai</a></p>
                   
                </div>
            </div>
        </div>
    </div>
</footer>
<footer class="bg-light text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #3b5998;"
          href="https://www.facebook.com/realestatedubaihoc/"
          role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #55acee;"
          href="https://www.snapchat.com/add/heartofcarthage"
          role="button"
          ><i class="fab fa-snapchat"></i
        ></a>
  
        <!-- Google -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #dd4b39;"
          href="https://youtube.com/channel/UC7ZESiLPWhMpn4V3XWBlIQg"
          role="button"
          ><i class="fab fa-youtube"></i
        ></a>
  
        <!-- Instagram -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #ac2bac;"
          href="https://instagram.com/heartofcarthage?igshid=YWJhMjlhZTc="
          role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #0082ca;"
          href="//www.linkedin.com/in/heart-of-carthage-trusted-real-estate-consultant-4836051b5"
          role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <a
        class="btn text-white btn-floating m-1"
        style="background-color: #000000;"
        href="https://www.tiktok.com/@heartofcarthage?_t=8XW3tyWUG82&_r=1"
        role="button">
         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tiktok" viewBox="0 0 16 16">
            <path d="M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3V0Z"/>
          </svg></a>
     
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="https://heart-of-carthage-dubai.com/">Heart of Carthage Real Estate</a>
    </div>
    <!-- Copyright -->
  </footer>
