<div class="full-screen" *ngIf="isSliderFullScreen">
        
        <div class="close-btn" ><i class="fa-solid fa-xmark" (click)="closeFullScreen()"></i></div>

        <div class="slider-container" [style.background-image]="'url('+ this.bgFullScreenSlider + ')'"></div>

        <div class="btn-slider left" (click)="prevSlide()"><i class="fa-solid fa-arrow-left"></i></div>
        <div class="btn-slider right" (click)="nextSlide()"><i class="fa-solid fa-arrow-right"></i></div>

</div>
<!-- ***** Main Banner Area Start ***** -->
<div class="main-bg-cover" *ngIf="!loadingOff">
<div class="bg-off-plan-lunding"  [style.background-image]="'url('+ imageProfil + ')'"></div>
<app-form1></app-form1>

</div>
<!--    new nav section    -->
<div class="fixed-sc-nav">
        
        <div class="menu left">
            <button>Overview</button>
            <button>Galerie</button>
        </div>
        
        <div class="menu right">
            <div class="btn"><i class="fa-solid fa-download"></i>Brochure</div>
            <div class="btn"><i class="fa-solid fa-money-bill-1"></i>Buy</div>
        </div>

</div>

<div class="fixed-sc-nav top-page" [class.selected]="scroll < 250">
        
        <div class="menu left">
            <button>Overview</button>
            <button>Galerie</button>
        </div>
        
        <div class="menu right">
            <div class="btn"><i class="fa-solid fa-download"></i>Brochure</div>
            <div class="btn"><i class="fa-solid fa-money-bill-1"></i>Buy</div>
        </div>

</div>
<!-- ***** Main Banner Area End ***** -->
<div class="container" *ngIf="loadingOff">
  <div class="row" style="text-align: center;margin-top: 20%; " >
    <div class="col-12">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden"> Loading...</span>
          </div>
    </div>
</div>
</div>
<section *ngIf="!loadingOff">
<section class="section" id="explore" style="margin-top: 20px;">
    <div class="container" >
        <div class="row"  > 

            <div class="col-lg-6" *ngIf="!loadingOff">
                <div class="left-content">
                    <h2>{{title}}</h2>
                    <span>{{stitle}} </span>
                    <div class="quote">
                         <p style="width: 30%;"><img [src]="getLogoDevp(this.dev)" style="width: 100%;" /></p>
                    </div>
                    <p>{{prix}}
                      </p>
                    <p> {{desc}}</p>
                    <div class="main-border-button">
                        <a  href="tel:{{phone}}">call us</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">
                            <div class="col-lg-12 video-responsive">
                                <iframe width="560" height="315" [src]="video" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid">
        
    <div class="slider-images">
        
        <div class="image-selected" (click)="openFullScreen()" [style.background-image]="'url('+ this.bgImageSelected + ')'"></div>
        <div class="images">
            <div class="img" *ngFor="let img of imgs" id="img" (click)="selectImage(img.path)" 
            [style.background-image]="'url('+ img.path + ')'">
            </div>
        </div>

    </div>

</div>
<section   style="background: #f7f7f7!important;margin-top: 10%;margin-bottom: 10%;margin-left: 20%;margin-right: 20%;">
  <app-home-azizi style="text-align:center ;"></app-home-azizi>
</section>
<section style="margin-top: 20px;">
    <app-carc></app-carc>
</section>
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-promo-banner-area vision-section">
          <p class="title-section" >Vision</p>
          <p> HEART OF CARTHAGE is determined to provide the most professional, honest, informative, and personalized service, thus establishing ourselves as the most preferred real estate brokerage in the UAE. Continuing with our tradition of excellence and integrity, we constantly work to fulfill the objectives of our clients and building a long-term relationship based on trust.</p>
          <a href="#" class="aa-view-btn">View DetLails</a>
        </div>
      </div>
    </div>
  </div>

<section>
    <div class="container map-section">
        <p>Localisation</p>
        <div class="col" style="margin-left:0;width: 100%;">
            <app-map1></app-map1>
        </div>
    </div>
</section>
</section>
<!-- 21:9 aspect ratio -->


<!-- ***** Product Area Starts ***** -->
<!--<section class="section" id="product">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">

                <div class="embed-responsive embed-responsive-21by9" >
                    <iframe  src="https://www.youtube.com/embed/gdcPBpASd7Q"  class="embed-responsive-item"  title="YouTube video" allowfullscreen></iframe>
                  </div>
            <div class="left-images">

                <img src="assets/images/single-product-02.jpg" alt="">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="right-content">
                <h4>New Green Jacket</h4>
                <span class="price">$75.00</span>
                <ul class="stars">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod kon tempor incididunt ut labore.</span>
                <div class="quote">
                    <i class="fa fa-quote-left"></i><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiuski smod.</p>
                </div>
                <div class="quantity-content">
                    <div class="left-content">
                        <h6>No. of Orders</h6>
                    </div>
                    <div class="right-content">
                        <div class="quantity buttons_added">
                            <input type="button" value="-" class="minus"><input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode=""><input type="button" value="+" class="plus">
                        </div>
                    </div>
                </div>
                <div class="total">
                    <h4>Total: $210.00</h4>
                    <div class="main-border-button"><a href="#">Add To Cart</a></div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>-->
<!-- ***** Product Area Ends ***** -->
<section id="aa-promo-banner" class="promo-banner-section" style="margin-top: 10%;margin-bottom: 30px;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-promo-banner-area">
            <h3>Other Services</h3>
            <div class="main-banner" id="top">
              <div class="container-fluid">
                  <div class="row">
                     
                      <div class="col-12">
                          <div class="right-content" >
                              
                              <div class="row other-services-boxs">
                                 
                                  <div class="col-lg-4"   >
                                      <div class="right-first-image">
                                          <div class="thumb">
                                              <div class="inner-content" style="opacity: 0.8!important;" >
                                                  <h4 style="color:#C9A770">Visas in Dubai</h4>
                                                  <span style="color:#C9A770" >The residency visas in Dubai vary in type,</span>
                                              </div>
                                              <div class="hover-content" style="opacity: 0.8 !important;">
                                                  <div class="inner" style="opacity: 3 !important;">
                                                      <h4>
                                                        Visas in Dubai</h4>
                                                      <p> The residency visas in Dubai vary in type,</p>
                                                      <div class="main-border-button">
                                                          <a href="#" >Discover More</a>
                                                      </div>
                                                  </div>
                                              </div>
                                              <img src="assets/images/visa.png" alt="heart-of-carthage-dubai">
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-lg-4"   >
                                    <div class="right-first-image">
                                        <div class="thumb">
                                            <div class="inner-content" style="opacity: 0.8!important;" >
                                                <h4 style="color:#C9A770">Golden Visa</h4>
                                                <span style="color:#C9A770" > entry and golden visas</span>
                                            </div>
                                            <div class="hover-content" style="opacity: 0.8 !important;">
                                                <div class="inner" style="opacity: 3 !important;">
                                                    <h4>
                                                      Golden Visa</h4>
                                                    <p> entry and golden visas</p>
                                                    <div class="main-border-button">
                                                        <a href="#" >Discover More</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <img src="assets/images/gold.png" alt="heart-of-carthage-dubai">
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-lg-4"   >
                                  <div class="right-first-image">
                                      <div class="thumb">
                                          <div class="inner-content" style="opacity: 0.8!important;" >
                                              <h4 style="color:#C9A770">accept cryptocurrency</h4>
                                              <span style="color:#C9A770" > Advances in computing and cryptography</span>
                                          </div>
                                          <div class="hover-content" style="opacity: 0.8 !important;">
                                              <div class="inner" style="opacity: 3 !important;">
                                                  <h4>
                                                    accept cryptocurrency</h4>
                                                  <p> Advances in computing and cryptography</p>
                                                  <div class="main-border-button">
                                                      <a href="#" >Discover More</a>
                                                  </div>
                                              </div>
                                          </div>
                                          <img src="assets/images/bit.jpg" alt="heart-of-carthage-dubai">
                                      </div>
                                  </div>
                              </div>  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>
</section>
