 <!-- ***** Main Banner Area Start ***** -->
 <div style=" background:url('assets/images/2.png') center center;
 background-size: cover ;background-attachment: fixed ;margin-bottom: 50px;" >
<app-form1></app-form1>

    </div>
<!-- ***** Main Banner Area End ***** -->
<div class="container">
  <div class="row" style="text-align: center;margin-top: 20%; " *ngIf="loadingOff">
    <div class="col-12">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden"> Loading...</span>
          </div>
    </div>
</div>
</div>
<section *ngIf="!loadingOff">
<section class="section" id="explore" style="margin-top: 20px;">
    <div class="container" >
        <div class="row"  > 

            <div class="col-lg-6" *ngIf="!loadingOff">
                <div class="left-content">
                    <h2>{{title}}</h2>
                    <span>{{stitle}} </span>
                    <div class="quote">

                    </div>
                    <p>{{prix}}
                      </p>
                    <p> {{desc}}</p>
                    <div class="main-border-button">
                        <a  href="tel:{{phone}}">call us</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="embed-responsive embed-responsive-21by9" >
                                <iframe  [src]="video"  class="embed-responsive-item"  title="YouTube video" allowfullscreen></iframe>
                              </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="margin-top: 20px;">
    <app-carc></app-carc>
</section>
<div class="container-fluid" style="margin-top: 20px;">
    <carousel
    [images]="imgs"
    [cellsToShow]="2"
    [loop]="true"
    [autoplay]="true"
    [autoplayInterval]="3000"
    ></carousel>
</div>
<section>
    <div class="container" style="margin-top: 20px;margin-bottom: 20px;">
        <div class="col">
            <app-map1></app-map1>
        </div>
    </div>
</section>
</section>
<app-accord></app-accord>

<!-- ***** Product Area Starts ***** -->
<!--<section class="section" id="product">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">

                <div class="embed-responsive embed-responsive-21by9" >
                    <iframe  src="https://www.youtube.com/embed/gdcPBpASd7Q"  class="embed-responsive-item"  title="YouTube video" allowfullscreen></iframe>
                  </div>
            <div class="left-images">

                <img src="assets/images/single-product-02.jpg" alt="">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="right-content">
                <h4>New Green Jacket</h4>
                <span class="price">$75.00</span>
                <ul class="stars">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod kon tempor incididunt ut labore.</span>
                <div class="quote">
                    <i class="fa fa-quote-left"></i><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiuski smod.</p>
                </div>
                <div class="quantity-content">
                    <div class="left-content">
                        <h6>No. of Orders</h6>
                    </div>
                    <div class="right-content">
                        <div class="quantity buttons_added">
                            <input type="button" value="-" class="minus"><input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode=""><input type="button" value="+" class="plus">
                        </div>
                    </div>
                </div>
                <div class="total">
                    <h4>Total: $210.00</h4>
                    <div class="main-border-button"><a href="#">Add To Cart</a></div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>-->
<!-- ***** Product Area Ends ***** -->
