.main-bg-cover{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.bg-off-plan-lunding{

    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    position: absolute;
    z-index: 0;
    overflow: hidden;
  /* animation: bgOffPlan 5s infinite alternate;*/
    background-size: cover;
    background-position: center;

}

/* 
@keyframes bgOffPlan{

    from{
        transform: scale(1.7);
    }
    to{
        transform: scale(1.2);
    }
} */

.video-responsive { 
    overflow:hidden; 
    padding-bottom:56.25%; 
    position:relative; 
    height:0;
    }
    
    .video-responsive iframe {
    left:0; 
    top:0; 
    height:100%;
    width:100%;
    position:absolute;
    }
.container.map-section p{
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    margin-top: 14px;
    color: white;
    background-color: #282827;
    text-align: center;
    padding: 15px;
    position: relative;
}


.container.map-section p:before{
    content: "";
    width: 60px;
    border-top: solid 63px white;
    border-left: solid 30px transparent;
    border-right: solid 30px transparent;
    position: absolute;
    top: -7.9%;
    left: 0;
    transform: rotateZ(270deg);
}


.container.map-section p:after{
    content: "";
    width: 60px;
    border-top: solid 63px white;
    border-left: solid 30px transparent;
    border-right: solid 30px transparent;
    position: absolute;
    top: -7.9%;
    right: 0;
    transform: rotateZ(90deg);
}


.vision-section .title-section{
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    margin-top: 14px;
    color: white;
    background-color: #282827;
    text-align: center;
    padding: 15px;
    position: relative;
}


.vision-section .title-section:before{
    content: "";
    width: 60px;
    border-top: solid 63px white;
    border-left: solid 30px transparent;
    border-right: solid 30px transparent;
    position: absolute;
    top: -7.9%;
    left: 0;
    transform: rotateZ(270deg);
}


.vision-section .title-section:after{
    content: "";
    width: 60px;
    border-top: solid 63px white;
    border-left: solid 30px transparent;
    border-right: solid 30px transparent;
    position: absolute;
    top: -7.9%;
    right: 0;
    transform: rotateZ(90deg);
}



/***  slider *****/


.slider-images{

    width: 80%;
    height: 90%;
    position: relative;

}

.slider-images .image-selected{

    width: 100%;
    height: 70%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    cursor: pointer;

}

.slider-images .images{

    width: 100%;
    height: 28%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;

}

.slider-images .images .img{

    width: 24%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

}
.full-screen{

    width: 100%;
    height: 100%;
    background-color: #000000b5;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5000000000000000;

}

.full-screen .btn-slider{

    width: 5%;
    height: 10%;
    background-color: transparent;
    border: .1vw solid white;
    color: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    cursor: pointer;
    transition: .4s;

}

.full-screen .btn-slider:hover{

    background-color: white;
    color: black;

}


.full-screen .btn-slider.left{

    left: 2%;

}

.full-screen .btn-slider.right{

    right: 2%;

}


.full-screen .slider-container{

    width: 80%;
    height: 90%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.full-screen .close-btn{

    width: 4%;
    height: 8%;
    background-color: transparent;
    color: white;
    font-size: 2vw;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}


/*************/


.promo-banner-section{

    height: 383px;

}

.container-fluid{

    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;

}


.other-services-boxs{

    margin-top: -40%;

}


.fixed-sc-nav{

    width: 100%;
    height: 80px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fixed-sc-nav.top-page{

    position: fixed;
    top: 0;
    left: 0;
    z-index: 500000000;
    animation: scTopPage 1s;

}

@keyframes scTopPage{

    0%{

        top: -100%;

    }

}

.fixed-sc-nav .menu{

    width: 35%;
    height: 80%;
    display: flex;
    align-items: center;

}

.fixed-sc-nav .menu.left{
    justify-content: right;
}

.fixed-sc-nav .menu.left button{

    width: 20%;
    height: 100%;
    background: transparent;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .6s;
    font-size: 1vw;

}

.fixed-sc-nav .menu.left button:hover{

    background: #aa8241;
    color: black;
    text-decoration: underline;

}



.fixed-sc-nav .menu.right{
    justify-content: left;
}

.fixed-sc-nav .menu.right .btn{

    width: 33%;
    height: 72%;
    border: .2vw solid white;
    color: white;
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%; 
    position: relative;
    cursor: pointer;
    border-radius: 0;
    padding: 0;

}

.fixed-sc-nav .menu.right .btn:before{

    content: "";
    position: absolute;
    width: 105%;
    height: 108%;
    border: .2vw solid white;
    transition: .4s;

}

.fixed-sc-nav .menu.right .btn:hover:before{

    width: 91%;
    height: 135%;

}



.fixed-sc-nav .menu.right .btn i{

    margin-right: 5%;
    font-size: 1.3vw;

}


.selected {

    display: none;
   
}


@media only screen and (max-width:480px){


    .selected {

        display: none;
       
    }

    .other-services-boxs{

        margin-top: 552px;
    
    }

    .promo-banner-section{

        height: 1000px;

    }

    .container-fluid{

        height: 260px;

    }

    .full-screen .slider-container{

        width: 100%;
        height: 32%;

    }

    .full-screen .btn-slider{

        width: 11%;
        height: 6%;
        font-size: 23px;

    }

    .full-screen .close-btn{

        width: 18%;
        height: 10%;
        font-size: 25px;

    }


    .slider-images{

        width: 100%;

    }


    .fixed-sc-nav{

        height: 55px;

    }

    .fixed-sc-nav .menu.right .btn i{

        font-size: 15px;

    }

    .fixed-sc-nav .menu.left button{

        width: 67%;
        font-size: 12px;

    }

    .fixed-sc-nav .menu{

        width: 48%;

    }

    .fixed-sc-nav .menu.right .btn{

        width: 43%;
        margin-left: 4%;
        font-size: 10px;

    }


}